{% assign foundation_columns = 'xxlarge-offset-3 xxlarge-6 large-offset-2 large-8 medium-offset-1 medium-10 small-12 columns' %}


<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
   

	<!-- foundation versie 5 -->
	<link rel="stylesheet" href="stylesheets/normalize.css" /> 
	<link rel="stylesheet" href="stylesheets/foundation.css" />
   
	<!-- own markup -->
	<link rel="stylesheet" href="stylesheets/styles.css" />
			  
	<script src="javascripts/modernizr.js"></script> 
    
    <meta name="keywords" content="huisarts mechelen, huisartspraktijk mechelen, 
    	huisarts mechelen zuid, huisartspraktijk mechelen zuid, dokter mechelen, 
    	dokter mechelen zuid, huisartsen de vaart, huisartsenpraktijk de vaart, 
    	de vaart, huisarts, huisartsenpraktijk, sportarts, sportarts mechelen, s
    	portarts mechelen zuid, lijfarts, lijfarts mechelen, lijfarts mechelen zuid, 
    	groepspraktijk, groepspraktijk mechelen zuid, groepspraktijk mechelen,
    	stuivenbergvaart, stuivenbergvaart 52, Sofie Decamps, Sofie Van Tongelen"/>
    <meta description"Huisartsenpraktijk De Vaart, een groepspraktijk in Mechelen Zuid aan Stuivenbergvaart nummer 52 met dokters Sofie Decamps en Sofie Van Tongelen."/>
    <title>Huisartsenpraktijk De Vaart - Groepspraktijk Mechelen Zuid</title>
    
  </head>

  </head>
  <body>
  	<div id="wrapper">
		<header>
			<div class="row">
				<div class="{{ foundation_columns }} headerbar">
					<img src="/images/header-bar.png"/>
					<h1>Huisartsenpraktijk De Vaart</h1>
				</div>
			</div>
		</header>
		<section>
	
			<div class="show-for-medium-up row menu">
				<div class="xlarge-centered medium-centered small-centered {{ foundation_columns }} menubar">
					<ul class="small-block-grid-5">
						<li id="menu_home">
							<a href="index.html" class="button knop" id="home">Welkom</a>
						</li>
						<li id="menu_afspraak">
							<a href="afspraak.html" class="button knop" id="appointement">Maak afspraak</a>
						</li>
						<li id="menu_artsen">
							<a href="artsen.html" class="button knop" id="artsen">Artsen</a>
						</li>
						<li id="menu_praktijk">							
							<a href="#" data-dropdown="drop" class="button dropdown knop">Praktijk</a>
								<ul id="drop" data-dropdown-content class="f-dropdown">
								  <li><a href="praktijk.html" id="praktijk">Praktijk visie</a></li>
								  <li><a href="terecht.html" id="terecht">Je kan bij ons terecht...</a></li>
								</ul>
						</li>
						<li id="menu_locatie">
							<a href="locatie.html" class="button knop" id="route">Locatie</a>
						</li>
					
					</ul>
				</div>
			</div>
		
			<div class="hide-for-medium-up menu-small">
				<ul>
						<li id="menu_home">
							<a href="index.html" class="knop" id="home">Welkom</a>
						</li>
						<li id="menu_afspraak">
							<a href="afspraak.html" class="knop" id="appointement">Maak een afspraak</a>
						</li>
						<li id="menu_artsen">
							<a href="artsen.html" class="knop" id="artsen">Artsen</a>
						</li>
						<li id="menu_locatie">
							<a href="locatie.html" class="knop" id="route">Locatie</a>
						</li>
				</ul>
			</div>
			<div class="row contentcontainer">
				<div class="{{ foundation_columns }} content">
					{{ content}}
				</div>
			</div>
		</section>
		<footer>
			<div class="row">        
				<div class="{{foundation_columns}}">
					Webmaster: Nelis Boucké, <a href="http://www.archiwise.com">ArchiWise</a>
				</div> 
			</div>
		</footer>
	</div>
	
	
  </body>
  
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/fastclick.js"></script>
  
  <script src="javascripts/foundation.min.js"></script>

  <script>
	  $(document).foundation();
  </script>  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46506307-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>