{% assign grid_columns = 'col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12' %}


<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- own markup -->
	<link rel="stylesheet" href="stylesheets/styles.css" />
    
	{% if page.keywords %}
		<meta name="keywords" content="{{page.keywords | join: ','}}" />
		{% else %}
		<meta name="keywords" content="{{site.keywords | join: ','}}" />
	{% endif %}
	{% if page.description %}
		<meta name="description" content="{{page.description}}" />
		{% else %}
		<meta name="description" content="{{site.description}}" />
	{% endif %}
    <meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW"/>
    <title>
		{{site.main_title}} - {{page.title}}
	</title>
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  	<div id="wrapper" >
		<header>
			<div class="row">
				<div class="{{ grid_columns }} headerbar">
					<img src="/images/header-bar.png" class="img-responsive"/>
					<h1>Huisartsenpraktijk De Vaart</h1>
				</div>
			</div>
		</header>
		<section>
			<nav class="row">
				<div class="{{ grid_columns }} menubar">
					<div class="btn-group btn-group-lg btn-group-justified hidden-xs">
						<a href="index.html" type="button" class="btn btn-default" id="menu_home">Welkom</a>
						<a href="http://www.introlution.be/clientwebsites/doctorwebsite_2/logincustom.aspx?domain=huisartsendevaart.be" target="_blank" type="button" class="btn btn-default" id="menu_afspraak">Afspraak</a>
						<div class="btn-group btn-group-lg">
							<a href="praktijk.html" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="menu_praktijk">Praktijk <span class="caret"></span></a>
								<ul class="dropdown-menu">
								  <li><a href="praktijk.html">Praktijkvisie</a></li>
								  <li><a href="terecht.html">Je kan bij ons terecht voor...</a></li>
								</ul>
						</div>
						<a href="artsen.html" type="button" class="btn btn-default" id="menu_artsen">Artsen</a>
						<div class="btn-group btn-group-lg">
							<a href="praktischeinfo.html" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="menu_praktisch">Praktische info <span class="caret"></span></a>
								<ul class="dropdown-menu">
					<!--			  <li><a href="praktisch.html" id="praktisch">Praktische info</a></li> -->
								  <li><a href="praktischeinfo.html#raadplegingen" id="praktisch#raadplegingen">Raadplegingen</a></li>
								  <li><a href="praktischeinfo.html#huisbezoeken" id="praktisch#huisbezoeken">Huisbezoeken</a></li>
								  <li><a href="praktischeinfo.html#spoedgevallen" id="praktisch#spoedgevallen">Spoedgevallen</a></li>
								  <li><a href="praktischeinfo.html#resultaten" id="praktisch#resultaten">Resultaten</a></li>
								  <li><a href="praktischeinfo.html#voorschriften" id="praktisch#voorschriften">Voorschriften</a></li>
								  <li><a href="praktischeinfo.html#gmd" id="praktisch#gmd">Globaal medisch dossier (GMD)</a></li>
								  <li><a href="praktischeinfo.html#wacht" id="praktisch-wacht">Wachtdiensten</a></li>				  										  								  								  
								  <li><a href="praktischeinfo.html#afgevaardigden" id="praktisch#afgevaardigden">Medisch afgevaardigden</a></li>
								  <li><a href="praktischeinfo.html#opleidingspraktijk" id="praktisch#opleidingspraktijk">Erkende opleidingspraktijk</a></li>
								</ul>
						</div>
						<a href="locatie.html" type="button" class="btn btn-default" id="menu_locatie">Locatie</a>					
					</div>
					
					<div class="btn-group btn-group-lg btn-group-vertical visible-xs">
						<a href="index.html" type="button" class="btn btn-default" id="menu_home">Welkom</a>
						<a href="afspraak.html" type="button" class="btn btn-default" id="menu_afspraak">Afspraak</a>
						<div class="btn-group btn-group-lg">
							<a href="praktijk.html" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="menu_praktijk">Praktijk <span class="caret"></span></a>
								<ul class="dropdown-menu">
								  <li><a href="praktijk.html">Praktijkvisie</a></li>
								  <li><a href="terecht.html">Je kan bij ons terecht voor...</a></li>
								</ul>
						</div>
						<a href="artsen.html" type="button" class="btn btn-default" id="menu_artsen">Artsen</a>
						<div class="btn-group btn-group-lg">
							<a href="praktischeinfo.html" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="menu_praktisch">Praktische info <span class="caret"></span></a>
								<ul class="dropdown-menu">
					<!--			  <li><a href="praktisch.html" id="praktisch">Praktische info</a></li> -->
								  <li><a href="praktischeinfo.html#raadplegingen" id="praktisch#raadplegingen">Raadplegingen</a></li>
								  <li><a href="praktischeinfo.html#huisbezoeken" id="praktisch#huisbezoeken">Huisbezoeken</a></li>
								  <li><a href="praktischeinfo.html#spoedgevallen" id="praktisch#spoedgevallen">Spoedgevallen</a></li>
								  <li><a href="praktischeinfo.html#resultaten" id="praktisch#resultaten">Resultaten</a></li>
								  <li><a href="praktischeinfo.html#voorschriften" id="praktisch#voorschriften">Voorschriften</a></li>
								  <li><a href="praktischeinfo.html#gmd" id="praktisch#gmd">Globaal medisch dossier (GMD)</a></li>
								  <li><a href="praktischeinfo.html#wacht" id="praktisch-wacht">Wachtdiensten</a></li>				  										  								  								  
								  <li><a href="praktischeinfo.html#afgevaardigden" id="praktisch#afgevaardigden">Medisch afgevaardigden</a></li>
								</ul>
						</div>
						<a href="locatie.html" type="button" class="btn btn-default" id="menu_locatie">Locatie</a>					
					</div>
				</div>
			</nav>
			<div class="row contentcontainer">
				<div class="{{ grid_columns }} content">
				
					{{ content}}
				</div>
			</div>
		</section>
		<footer>
			<div class="row">        
				<div class="{{grid_columns}}">
					Webmaster: Nelis Boucké, <a href="http://www.archiwise.com">ArchiWise</a>
				</div> 
			</div>
		</footer>
	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="javascripts/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
  	<script src="javascripts/respond.js"></script>
  	 <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-46506307-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
 
</html>