{% assign foundation_columns = 'xxlarge-offset-3 xxlarge-6 large-offset-2 large-8 medium-offset-1 medium-10 small-12 columns' %}


<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
   

	<!-- foundation versie 5 -->
	<link rel="stylesheet" href="stylesheets/normalize.css" /> 
	<link rel="stylesheet" href="stylesheets/foundation.css" />
   
	<!-- own markup -->
	<link rel="stylesheet" href="stylesheets/styles.css" />
			  
	<script src="javascripts/modernizr.js"></script> 
    
	{% if page.categories %}
		<meta name="keywords" content="{{page.categories | join: ','}}" />
		{% else %}
		<meta name="keywords" content="{{site.keywords | join: ','}}" />
	{% endif %}
	{% if page.description %}
		<meta name="description" content="{{page.description}}" />
		{% else %}
		<meta name="description" content="{{site.description}}" />
	{% endif %}
    <meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW"/>
    <title>
		{{site.main_title}} - {{page.title}}
	</title>
  </head>

  </head>
  <body>
  	<div id="wrapper">
		<header>
			<div class="row">
				<div class="{{ foundation_columns }} headerbar">
					<img src="/images/header-bar.png"/>
					<h1>Huisartsenpraktijk De Vaart</h1>
				</div>
			</div>
		</header>
		<section>
			<nav>
			<div class="show-for-medium-up row menu">
				<div class="xlarge-centered medium-centered small-centered {{ foundation_columns }} menubar">
					
					<ul class="small-block-grid-6">
						<li id="menu_home">
							<a href="index.html" class="button knop" id="home">Welkom</a>
						</li>
						<li id="menu_afspraak">
							<a href="afspraak.html" class="button knop" id="appointement">Afspraak</a>
						</li>
						<li id="menu_artsen">
							<a href="artsen.html" class="button knop" id="artsen">Artsen</a>
						</li>
						<li id="menu_praktijk">							
							<a href="#" data-dropdown="drop-praktijk" data-options="is_hover:true" class="button dropdown knop">Praktijk</a>
								<ul id="drop-praktijk" data-dropdown-content class="f-dropdown">
								  <li><a href="praktijk.html" id="praktijk">Praktijkvisie</a></li>
								  <li><a href="terecht.html" id="terecht">Je kan bij ons terecht...</a></li>
								</ul>
						</li>
						<li id="menu_praktisch">							
							<a href="praktischeinfo.html" data-dropdown="drop-praktisch" data-options="is_hover:true" class="button dropdown">Info</a>
								<ul id="drop-praktisch" data-dropdown-content class="f-dropdown">
					<!--			  <li><a href="praktisch.html" id="praktisch">Praktische info</a></li> -->
								  <li><a href="praktischeinfo.html#raadplegingen" id="praktisch#raadplegingen">Raadplegingen</a></li>
								  <li><a href="praktischeinfo.html#huisbezoeken" id="praktisch#huisbezoeken">Huisbezoeken</a></li>
								  <li><a href="praktischeinfo.html#spoedgevallen" id="praktisch#spoedgevallen">Spoedgevallen</a></li>
								  <li><a href="praktischeinfo.html#resultaten" id="praktisch#resultaten">Resultaten</a></li>
								  <li><a href="praktischeinfo.html#voorschriften" id="praktisch#voorschriften">Voorschriften</a></li>
								  <li><a href="praktischeinfo.html#gmd" id="praktisch#gmd">Globaal medisch dossier (GMD)</a></li>
								  <li><a href="praktischeinfo.html#diensten" id="praktisch-diensten">Je kan bij ons terecht!</a></li>	
								  <li><a href="praktischeinfo.html#wacht" id="praktisch-wacht">Wachtdiensten</a></li>				  										  								  								  
								  <li><a href="praktischeinfo.html#afgevaardigden" id="praktisch#afgevaardigden">Medisch afgevaardigden</a></li>
								</ul>
						</li>
						<li id="menu_locatie">
							<a href="locatie.html" class="button knop" id="route">Locatie</a>
						</li>
					
					</ul>
				</div>
			</div>
		
			<div class="hide-for-medium-up menu-small">
				<ul>
						<li id="menu_home">
							<a href="index.html" class="button knop" id="home">Welkom</a>
						</li>
						<li id="menu_afspraak">
							<a href="afspraak.html" class="button knop" id="appointement">Afspraak</a>
						</li>
						<li id="menu_artsen">
							<a href="artsen.html" class="button knop" id="artsen">Artsen</a>
						</li>
						<li id="menu_praktijk">							
							<a href="#" data-dropdown="drop" class="button dropdown knop">Praktijk</a>
								<ul id="drop" data-dropdown-content class="f-dropdown">
								  <li><a href="praktijk.html" id="praktijk">Praktijkvisie</a></li>
								  <li><a href="terecht.html" id="terecht">Je kan bij ons terecht...</a></li>
								</ul>
						</li>
						<li id="menu_locatie">
							<a href="locatie.html" class="button knop" id="route">Locatie</a>
						</li>
				</ul>
			</div>
			</nav>
			<div class="row contentcontainer">
				<div class="{{ foundation_columns }} content">
					{{ content}}
				</div>
			</div>
		</section>
		<footer>
			<div class="row">        
				<div class="{{foundation_columns}}">
					Webmaster: Nelis Boucké, <a href="http://www.archiwise.com">ArchiWise</a>
				</div> 
			</div>
		</footer>
	</div>
	
  <script>
	  $(document).foundation();
  </script>  
  </body>
  
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/fastclick.js"></script>
  
  <script src="javascripts/foundation.min.js"></script>

  
  <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-46506307-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</html>